<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>ITJobs</title>

<meta name="keywords" content="IT,Jobs,ITJobs">
<meta name="author" content="Won">
<link rel="icon" type="image/png" href="../static/images/icon.png"
	th:href="@{/images/icon.png}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- START: Styles -->

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700"
	rel="stylesheet" type="text/css">

<link rel="stylesheet" href="../static/css/combined.css"
	th:href="@{/css/combined.css}">

<!-- END: Styles -->
<style>
</style>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-2.1.0.min.js">
	
</script>

</head>

<body>

	<header class="header">
		<!--
        START: Navbar
    -->

		<nav
			class="navbar navbar-top navbar-sticky navbar-transparent navbar-white-text-on-top">
			<div class="container">
				<div class="nav-table">
					<a href="index" class="nav-logo"> <img
						src="../static/images/logo-light.png"
						th:src="@{/images/logo-light.png}" alt="" width="85"
						class="nav-logo-onscroll"> <img
						src="../static/images/logo.png" th:src="@{/images/logo.png}"
						alt="" width="85">
					</a>

					<ul class="nav nav-right hidden-md-down"
						data-nav-mobile="#nav-mobile">
						<li>
							<table>
								<tbody>
									<tr>
										<form method="get" action="/searchList" name="search">
											<td style="border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);">
												<select name="sort" class="sort"
												style="font-color: #AAAAAA;">
													<option value="adv_company">회사</option>
													<option value="adv_content">내용</option>
													<option value="adv_name">광고명</option>
											</select>
											</td>
											<td style="border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);">
												<input class="form-control" type="text" name="keyword"
												placeholder="내용을 입력하세요" size="30"
												style="background: rgba(255, 255, 255, 0.3); border-radius: 8px;">
											</td>
											<td><input TYPE="IMAGE" class="searchImg"
												src="assets/images/search.png"
												th:src="@{/images/search.png}" weight="25px" height="25px"
												onclick="document.search.submit()" align="absmiddle">
											</td>
										</form>
									</tr>
								</tbody>
							</table>
						</li>

						<li id="dropdown"><a href="#">상세검색</a>
							<div class="dropdown-content">
								<a href="#">구인정보</a> <a href="#">채용정보</a>
							</div></li>


						<li><a href="list.jsp">커뮤니티</a></li>

						<li id="dropdown"><a href="IT_logIn"
							th:href="${session.user == null} ? @{/IT_logIn} : @{/logout}">
								<span
								th:text="${session.user == null} ? '로그인' : ${session.user}"></span>
						</a>
							<div class="dropdown-content">
								<a th:href="${session.logOL==null}? @{/join} : ${session.logOL}"><span
									th:text="${session.logout==null}? '회원가입' : ${session.logout}"></span></a>
								<a href="#">Link 2</a> <a href="#">Link 3</a>
							</div></li>

					</ul>


				</div>
			</div>
		</nav>
		<!-- END: Navbar -->

	</header>
	<div class="main">

		<!-- START: Header Title -->
		<div class="header-title header-title-full">
			<div class="bg-image">
				<div style="background-image: url('assets/images/city1.jpg');"></div>
				<div class="bg-image-overlay"
					style="background-color: rgba(00, 00, 00, 0.2);"></div>
			</div>
			<div class="header-table">
				<div class="header-table-cell">
					<!-- 내용 넣을 곳 -->


					<p>글내용 보기</p>

					<form>
						<table>
							<tr height="30">
								<td align="center" width="125">글번호</td>
								<td align="center" width="125">
									<span th:text="${adv.Adv_num}"></span>
									</td>
								<td align="center" width="125">조회수</td>
								<td align="center" width="125">
									<span th:text="${adv.Adv_readcount}"></span>
									</td>
							</tr>
							<tr height="30">
								<td align="center" width="125">작성자</td>
								<td align="center" width="125">
									<span th:text="${adv.Adv_company}"></span></td>
								<td align="center" width="125">작성일</td>
								<td align="center" width="125">
									<span th:text="${adv.Adv_reg_date}"></span>
								</td>
							</tr>
							<tr height="30">
								<td align="center" width="125">글제목</td>
								<td align="center" width="375" colspan="3">
									<span th:text="${adv.Adv_name}"></span></td>
							</tr>
							<tr>
								<td align="center" width="125">글내용</td>
								<td align="left" width="375" colspan="3"><pre><span th:text="${adv.Adv_content}"></span></pre></td>
							</tr>
						</table>
					</form>
					<form action="/advUpdate/${adv.Adv_num}" th:action="@{/advUpdateForm/{num}(num=${adv.adv_num})}">
						<input type="submit" value="글 수정"> 
					</form>
					<form action="/advDelete/${adv.Adv_num}" th:action="@{/advDelete/{num}(num=${adv.adv_num})}">
						<input type="submit" value="글 삭제"> 
					</form>
					<!-- 여기까지 내용 넣기 -->
				</div>
			</div>
		</div>

		<div id="header-title-scroll-down"></div>

		<!-- END: Header Title -->
	</div>




	<!-- START: Scripts -->

	<script src="../static/js/combined.js" th:src="@{/js/combined.js}"></script>

	<!-- END: Scripts -->


</body>

</html>
