<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ITJobs</title>

	<meta name="keywords" content="IT,Jobs,ITJobs">
	<meta name="author" content="Won">
	<link rel="icon" type="image/png" href="../static/images/icon.png" th:href="@{/images/icon.png}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="../static/css/combined.css" th:href="@{/css/combined.css}">
					
    <!-- END: Styles -->
	<style>
	</style>
	<script type="text/javascript"
		src="http://code.jquery.com/jquery-2.1.0.min.js">
	</script>
	<script type="text/javascript" th:inline="javascript">
$(document).ready(function() { 
	/* <![CDATA[ */		
	if(/*[[${script}]]*/ != null){
		var get = /*[[ ${script} ]]*/;
		alert(get);
	}
	/* ]]> */
	
});
</script>
	
</head>
<body>
   <header class="header">
        <!--
        START: Navbar
    -->
    
        <nav class="navbar navbar-top navbar-sticky navbar-transparent navbar-white-text-on-top">
            <div class="container">
                <div class="nav-table">
                    <a href="index" class="nav-logo">
                        <img src="../static/images/logo-light.png" th:src="@{/images/logo-light.png}" alt="" width="85" class="nav-logo-onscroll">
                        <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="" width="85">
                    </a>
                    
                    <ul class="nav nav-right hidden-md-down" data-nav-mobile="#nav-mobile">
                    	<li>
                    		<table>
                    		<tbody>
                    			<tr>
                    				<form method="get" action="IT_search.jsp" name="search" >
	                    				<td style="border-bottom:1.5px solid rgba(0,0,0,0.3);">
		                    				<select name="sort" class="sort" style="font-color:#AAAAAA;" >
												<option value="adv_company">회사</option>
												<option value="adv_content">내용</option>
												<option value="adv_name">광고명</option>
											</select>
										</td>
	                    				<td style="border-bottom:1.5px solid rgba(0,0,0,0.3);">
	                    					<input class="form-control" type="text" name="keyword" placeholder="내용을 입력하세요" size="30" style="background:rgba(255,255,255,0.3); border-radius:8px;">
	                    				</td>
	                    				<td>
	                    					<input  TYPE="IMAGE" class="searchImg" src="assets/images/search.png" th:src="@{/images/search.png}" weight="25px" height="25px" onclick="document.search.submit()"  align="absmiddle">
	                    				</td>
									</form>
								</tr>
								</tbody>
                    		</table>
                    	</li>

                        <li id="dropdown">
                            <a href="#">상세검색</a>
                            <div class="dropdown-content">
							    <a href="#">구인정보</a>
							    <a href="#">채용정보</a>
							</div>
						</li>					
                        <li>
                            <a href="list.jsp">커뮤니티</a>
                        </li>
                        
                         <li id="dropdown">
                            <a href="IT_logIn" th:href="${session.user == null} ? @{/IT_logIn} : @{/logout}">
                            	<span th:text="${session.user == null} ? '로그인' : ${session.user}"></span>
                            </a>
                            <div class="dropdown-content">
							    <a th:href="(${session.logOL})"><span th:text="(${session.logout})"></span></a>
							    <a href="#">Link 2</a>
							    <a href="#">Link 3</a>
							</div>
						</li>            
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END: Navbar -->

    </header>
<!--
    START: Navbar Mobile
-->
    <nav class="navbar navbar-full navbar-align-center" id="nav-mobile">
        <div class="navbar-bg">
            <div class="bg-image" style="background-image: url('assets/images/bg-menu.jpg')"></div>
        </div>
        <div class="nav-table">
            <div class="nav-row">
                <div class="container">
                    <div class="nav-header">

                        <div class="nav-logo">
                            <a href="index" class="nav-logo">
                                <img src="assets/images/logo-light.svg" alt="" width="85">
                            </a>
                        </div>

                        <div class="nav-close navbar-full-toggle">
                            <span class="icon-close"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-row-full nav-row">
                <div class="nano">
                    <div class="nano-content">
                        <div class="nav-table">
                            <div class="nav-row nav-row-full nav-row-center navbar-mobile-content">
                                <ul class="nav">
                                    <!-- Here will be inserted menu from [data-mobile-menu="#nav-mobile"] -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-row">
                <div class="container">
                    <div class="nav-social">
                        <ul>
                            <li><a href="https://twitter.com/nkdevv"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/unvabdesign/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://dribbble.com/_nK"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Navbar Mobile -->


    <div class="main">

        <!-- START: Header Title -->
        <div class="header-title header-title-full">
            <div class="bg-image">
                <div style="background-image: url('assets/images/city1.jpg');"></div>
                <div class="bg-image-overlay" style="background-color: rgba(00, 00, 00, 0.2);"></div>
            </div>
            <div class="header-table" >
                <!-- 내용 넣을 곳 -->
                <form action="#" style="margin-top:200px;margin-bottom:-0.5px;">
						<input type="button" name="IT_mem_type" id="mem_type1" value="개인" onclick="personal();"/>  <!-- id가 다름 -->
						<input type="button" name="IT_mem_type" id="mem_type" value="기업" onclick="company();"/>
				</form>
					
                <div style="margin:0 auto;background-color:rgba(255,255,255,0.7);width:500px;height:375px;margin-top:0px;">
                	
                	<div id="mem_type_personal">
						<form method="post" action="/pLogin" th:action="@{/pLogin}" class="IT_loginFormBox">
							<ul class="container">
								<div>
									<li><input type="text" name="IT_id" id="id" class="login_input"/></li>
									<br> <br>
									<li><input type="password" name="IT_pass" id="password" class="login_input" /></li>
									<li><a href="/memFind" th:href="@{/memFind}" id="idPw"><span>ID/PW찾기</span></a></li>
								</div>
							</ul>
							
							<button type="submit" id="button" class="IT_btn">login</button>
							<hr id="hr">
							<p>
								지금 ITJOBS에 가입해서 <br>구직자 취업맞춤 서비스를 만나보세요!
							</p>
							<a href="/join" th:href="@{/join}">회원가입</a>
							<br><br><br>
							
						</form>
					</div>
					<div id="mem_type_company" style="display:none">
						<form method="post" action="/cLogin" th:action="@{/cLogin}" class="IT_loginFormBox">
							<ul class="container">
								<div>
									<li><input type="text" name="IT_C_id" id="id" class="login_input"/></li>
									<br> <br>
									<li><input type="password" name="IT_C_pass" id="password" class="login_input" /></li>
									<li><a href="/memFind" th:href="@{/memFind}" id="idPw">ID/PW찾기</a></li>
								</div>
							</ul>
							
							<button type="submit" id="button" class="IT_btn">login</button>
							<hr id="hr">
							<p>
								지금 ITJOBS에 가입해서 <br>구직자 취업맞춤 서비스를 만나보세요!
							</p>
							<a href="/join" th:href="@{/join}">회원가입</a>
							<br><br><br>
						</form>
					</div>
				</div>
		<!-- 여기까지 내용 넣기 -->
            </div>
        </div>

 
    <!-- START: Scripts -->

   	<script src="assets/js/combined.js" th:src="@{/js/combined.js}"></script>
    <script>
    function personal(){
    	document.getElementById("mem_type_personal").style.display="block";
    	document.getElementById("mem_type_company").style.display="none";
    	//document.getElementById("mem_type_personal").style.backgroundColor="rgba(255, 255, 255, 0.6)";
    	//document.getElementById("mem_type_company").style.backgroundColor="rgba(255, 255, 255, 0.6)";
    	document.getElementById("mem_type1").style.borderBottom="none";
    	document.getElementById("mem_type").style.borderBottom="1px solid #000";
    	document.getElementById("mem_type1").style.backgroundColor="rgba(255, 255, 255, 0.7)";
    	document.getElementById("mem_type").style.backgroundColor="#1D6A96";
    	document.getElementById("mem_type1").style.color="#1D6A96";
    	document.getElementById("mem_type").style.color="#ffffff";
    }

    function company(){
    	document.getElementById("mem_type_personal").style.display="none";
    	document.getElementById("mem_type_company").style.display="block";
    	//document.getElementById("mem_type_personal").style.backgroundpColor="rgba(255, 255, 255, 0.6)";
    	//document.getElementById("mem_type_company").style.backgroundColor="rgba(255, 255, 255, 0.6)";
    	document.getElementById("mem_type1").style.borderBottom="1px solid #000";
    	document.getElementById("mem_type").style.borderBottom="none";
    	document.getElementById("mem_type1").style.backgroundColor="#1D6A96";
    	document.getElementById("mem_type").style.backgroundColor="rgba(255, 255, 255, 0.7)";
    	document.getElementById("mem_type1").style.color="#ffffff"; 
    	document.getElementById("mem_type").style.color="#1D6A96"; 
    }
    </script>
    
    <script type="text/javascript">    

    </script>
    
    <!-- END: Scripts -->


</body>

</html>