<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>ITJobs</title>

<meta name="keywords" content="IT,Jobs,ITJobs">
<meta name="author" content="Won">
<link rel="icon" type="image/png" href="../static/images/icon.png"
	th:href="@{/images/icon.png}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- START: Styles -->

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700"
	rel="stylesheet" type="text/css">

<link rel="stylesheet" href="../static/css/combined.css"
	th:href="@{/css/combined.css}">

<!-- END: Styles -->
<style>
</style>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-2.1.0.min.js">
	</script>

</head>
<body>
	<header class="header">
		<!--
        START: Navbar
    -->

		<nav
			class="navbar navbar-top navbar-sticky navbar-transparent navbar-white-text-on-top">
			<div class="container">
				<div class="nav-table">
					<a href="index" class="nav-logo"> <img
						src="../static/images/logo-light.png"
						th:src="@{/images/logo-light.png}" alt="" width="85"
						class="nav-logo-onscroll"> <img
						src="../static/images/logo.png" th:src="@{/images/logo.png}"
						alt="" width="85">
					</a>

					<ul class="nav nav-right hidden-md-down"
						data-nav-mobile="#nav-mobile">
						<li>
							<table>
								<tbody>
									<tr>
										<form method="get" action="IT_search.jsp" name="search">
											<td style="border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);">
												<select name="sort" class="sort"
												style="font-color: #AAAAAA;">
													<option value="adv_company">회사</option>
													<option value="adv_content">내용</option>
													<option value="adv_name">광고명</option>
											</select>
											</td>
											<td style="border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);">
												<input class="form-control" type="text" name="keyword"
												placeholder="내용을 입력하세요" size="30"
												style="background: rgba(255, 255, 255, 0.3); border-radius: 8px;">
											</td>
											<td><input TYPE="IMAGE" class="searchImg"
												src="assets/images/search.png"
												th:src="@{/images/search.png}" weight="25px" height="25px"
												onclick="document.search.submit()" align="absmiddle">
											</td>
										</form>
									</tr>
								</tbody>
							</table>
						</li>

						<li id="dropdown"><a href="#">상세검색</a>
							<div class="dropdown-content">
								<a href="#">구인정보</a> <a href="#">채용정보</a>
							</div></li>
						<li><a href="list.jsp">커뮤니티</a></li>

						<li id="dropdown"><a href="IT_logIn"
							th:href="${session.user == null} ? @{/IT_logIn} : @{/logout}">
								<span
								th:text="${session.user == null} ? '로그인' : ${session.user}"></span>
						</a>
							<div class="dropdown-content">
								<a th:href="(${session.logOL})"><span
									th:text="(${session.logout})"></span></a> <a href="#">Link 2</a> <a
									href="#">Link 3</a>
							</div></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END: Navbar -->

	</header>
	<!--	
       START: Navbar Mobile
-->
	<nav class="navbar navbar-full navbar-align-center" id="nav-mobile">
		<div class="navbar-bg">
			<div class="bg-image"
				style="background-image: url('assets/images/bg-menu.jpg')"></div>
		</div>
		<div class="nav-table">
			<div class="nav-row">
				<div class="container">
					<div class="nav-header">
						<div class="nav-logo">
							<a href="index.html" class="nav-logo"> <img
								src="assets/images/logo-light.svg" alt="" width="85">
							</a>
						</div>
						<div class="nav-close navbar-full-toggle">
							<span class="icon-close"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-row-full nav-row">
				<div class="nano">
					<div class="nano-content">
						<div class="nav-table">
							<div
								class="nav-row nav-row-full nav-row-center navbar-mobile-content">
								<ul class="nav">
									<!-- Here will be inserted menu from [data-mobile-menu="#nav-mobile"] -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-row">
				<div class="container">
					<div class="nav-social">
						<ul>
							<li><a href="https://twitter.com/nkdevv"><i
									class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/unvabdesign/"><i
									class="fa fa-facebook"></i></a></li>
							<li><a href="https://dribbble.com/_nK"><i
									class="fa fa-dribbble"></i></a></li>
							<li><a href="https://www.instagram.com/unvab/"><i
									class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- END: Navbar Mobile -->
	<div class="main">
		<!-- START: Header Title -->
		<div class="header-title header-title-full">
			<div class="bg-image">
				<div style="background-image: url('assets/images/city1.jpg');"></div>
				<div class="bg-image-overlay"
					style="background-color: rgba(00, 00, 00, 0.2);"></div>
			</div>
			<!-- 여기부터 -->
			<script
				src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
			<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                 // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수
                 // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;
                 } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }
                 // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('sample6_address').value = fullAddr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById('sample6_address2').focus();
            }
        }).open();
    }
</script>
			<div>
				<form action="#" style="margin-top: 110px">
					<input type="button" name="IT_mem_type" id="mem_type1"
						value="개인 회원용" onclick="personal();" class="IT_btn" /> <input
						type="button" name="IT_mem_type" id="mem_type" value="회사 회원용"
						onclick="company();" class="IT_btn" />
				</form>
				<div id="mem_type_personal" style="margin-left: 700px">
					<form class="join-wrape" name="join-wrapp" method="post"
						action="/pJoin" th:action="@{/pJoin}" onsubmit="return checkForm();">
						<div class="join-box">
							<ul class="join-form">
								<li class="join-id"><strong class="join-guide">ID/이름</strong>
									<input type="text" name="IT_name" id="p-name" placeholder="이름" />
									<input type="text" name="IT_id" id="p-id" placeholder="아이디" />
									<button type="button" id="IT_id_modify_check"
										onclick="showPopup()" class="join-check">check</button></li>
								<li class="join-pass"><strong class="join-guide">비밀번호</strong>
									<input type="password" name="IT_pass" id="p-pass1" /> <input
									type="password" name="password" id="p-pass2" placeholder="재입력" />
								</li>
								<li class="join-mail"><strong class="join-guide">이메일</strong>
									<input type="text" name="IT_mail1" id="p-mail1" />
									<button class="join-input-inter">@</button> <!-- '@' --> <input
									type="text" name="IT_mail2" id="p-mail2" /> <select name="IT_mail2">
										<option selected>직접입력</option>
										<option value="naver.com">naver.com</option>
										<option value="gmail.com">gmail.com</option>
										<option value="hanmail.net">hanmail.net</option>
										<option value="nate.com">nate.com</option>
								</select></li>
								<li class="join-gender"><strong class="join-guide">성별</strong>
									<label><input type="radio" name="IT_gender" value="M"
										checked="chekced">남성</input></label> <label><input
										type="radio" name="IT_gender" value="F">여성</input></label></li>
								<li class="join-phone"><strong class="join-guide">전화번호</strong>
									<select name="IT_phone1">
										<option value="010" selected>010</option>
										<option value="011">011</option>
										<option value="016">016</option>
										<option value="017">017</option>
										<option value="019">019</option>
								</select>
									<button class="join-input-inter" />-
									</button> <input type="text" name="IT_phone2" id="p-phone1" />
									<button class="join-input-inter">-</button> <input type="text"
									name="IT_phone3" id="p-phone2" /></li>
								<li class="join-addr-zip"><strong class="join-guide">주소</strong>
									<input type="text" id="sample6_postcode" name="IT_zip"
									 value="우편번호" readonly />
									<button type="button" onclick="sample6_execDaumPostcode()"
										class="join-check">찾기</button></li>
								<li class="join-addr-spec"><input type="text"
									id="sample6_address" name="IT_addr1"  readonly>
									<input type="text" id="sample6_address2" name="IT_addr2"
									 placeholder="상세주소"></li>

								
								<li><input type="submit" value="회원가입" class="join_submit" />
								</li>
							</ul>
						</div>
					</form>
				</div>
				<div id="mem_type_company" style="display: none; margin-left: 700px">
					<form class="join-wrape" method="post"
						action="/cJoin" th:action="@{/cJoin}">
						<div class="join-box">
							<ul class="join-form">
								<li class="join-id"><strong class="join-guide">ID/이름</strong>
									<input type="text" name="IT_C_name" placeholder="이름" /> <input
									type="text" name="IT_C_id" placeholder="아이디" />
									<button type="button" id="IT_C_id_modify_check"
										onclick="showPopup1()" class="join-check" />check</li>
								<li class="join-pass"><strong class="join-guide">비밀번호</strong>
									<input type="password" name="IT_C_pass" /> <input
									type="password" name="password" placeholder="재입력" /></li>
								<li class="join-mail"><strong class="join-guide">이메일</strong>
									<input type="text" name="IT_C_mail1" />
									<button class="join-input-inter">@</button> <!-- '@' --> <input
									type="text" name="IT_C_mail2" /> <select name="IT_C_mail2">
										<option selected>직접입력</option>
										<option value="naver.com">naver.com</option>
										<option value="gmail.com">gmail.com</option>
										<option value="hanmail.net">hanmail.net</option>
										<option value="nate.com">nate.com</option>
								</select></li>
								<li class="join-c-comnum"><strong class="join-guide">사업자번호</strong>
									<input type="text" name="IT_C_num" placeholder="사업자번호">
								</li>
								<li class="join-c-phone"><strong class="join-guide">전화번호</strong>
									<select name="IT_C_phone1">
										<option value="010" selected>010</option>
										<option value="011">011</option>
										<option value="016">016</option>
										<option value="017">017</option>
										<option value="019">019</option>
								</select>
									<button type="button" class="join-input-inter">-</button> <input
									type="text" name="IT_C_phone2" />
									<button type="button" class="join-input-inter">-</button> <input
									type="text" name="IT_C_phone3" /></li>
								<li class="join-addr-zip"><input type="text"
									placeholder="우편번호" />
									<button type="button" onclick="sample6_execDaumPostcode()"
										class="join-check">찾기</button></li>
								<li class="join-addr-spec"><input type="text"
									id="sample6_address" name="IT_C_addr1" placeholder="주소"
									readonly /> <input type="text" id="sample6_address2"
									name="IT_C_addr2" placeholder="상세주소" /></li>
								
								<li><input type="checkbox">약관에 동의</input></li>
								<li><input type="submit" value="회원가입" class="join_submit" />
								</li>
							</ul>
						</div>
					</form>
				</div>
			</div>
			<!-- 여기까지 -->
		</div>
		<div id="header-title-scroll-down"></div>

		<!-- END: Header Title -->
	</div>
	<!-- START: Scripts -->
	<script src="assets/js/combined.js" th:src="@{/js/combined.js}"></script>
	<script language="javascript">
  		function showPopup() {
  			var id=document.getElementsByName('IT_id')[0].value;
  			var url="/pDupCheck?IT_id="+id;
  			window.open(url, "id 중복체크", "width=400, height=300, left=100, top=50"); 
  		}
  		function showPopup1() {
  			var C_id=document.getElementsByName('IT_C_id')[0].value;
  			var url="/cDupCheck?IT_C_id="+C_id;
  			window.open(url, "id 중복체크", "width=400, height=300, left=100, top=50"); 
  		}
  		
  	</script>
	<script>
    function personal(){
    	document.getElementById("mem_type_personal").style.display="block";
    	document.getElementById("mem_type_company").style.display="none";
    }
    function company(){
    	document.getElementById("mem_type_personal").style.display="none";
    	document.getElementById("mem_type_company").style.display="block";
    }
    </script>
	<!-- END: Scripts -->